/* Estilos generales */
body {
    background-color: black;
    color: white;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

/* Estilos de los títulos de sección */
.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.section-title h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

/* Estilos de los íconos sólidos */
.fa-solid {
    color: white;
}

/* Estilos de las secciones */
#bg-section2,
#bg-section3 {
    background-color: transparent;
}

/* Estilos de las tarjetas transparentes */
.transparent-card {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* Estilos de grupos de tarjetas */
.custom-card-group {
    margin-top: 3rem;
}

/* Estilos de tarjetas */
.custom-card {
    margin: 1rem;
}

/* Estilos del pie de página */
footer {
    background-color: #0DCAF0;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Estilos de los iconos de redes sociales en el pie de página */
.iconos-redes a {
    color: #fff;
    margin: 0 5px;
}

/* Estilos de los iconos de redes sociales al pasar el mouse */
.iconos-redes a:hover {
    color: #ddd;
}
