body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px)
}

.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.section-title h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.fa-solid {
    color: white;
}

#bg-section2 {
    background-color: transparent;
}

#bg-section3 {
    background-color: transparent;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.custom-card-group {
    margin-top: 3rem;
}

.custom-card {
    margin: 1rem;
}

footer {
    background-color: #0DCAF0;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  .iconos-redes a {
    color: #fff;
    margin: 0 5px;
  }
  .iconos-redes a:hover {
    color: #ddd;
  }

